.DS_Store
configs/config_*.yml
configs/qsub.history
.snakemake
\#*
__pycache__
tests/sunbeam_output
tests/bacteria
tests/local
tests/data_files
configs/respublica_config.yml
*.egg-*
local/bin/*.sh
local/biobakery-metaphlan2-40d1bf693089
local/CAP3
local/RAPSearch2
local/IGV
local/IGV_2.3.68
config_test.yml
local/diamond*
local/ImageMagick*
local/default.zip
local/IGV_2.3.68.zip*
